@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1 class="my_style">Página em Construção 123</h1>


<nav>
    <h2 class="text-center text-primary fw-bold">Sistema de Solicitação de Manutenção Predial</h2>
    <a href="#">Home</a>
    <p>Essa linha foi acrescentada para testar o git</p>
</nav>