@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p>Página em Construção 123</p>
<p>Terceira aula desenvolvimento web</p>
<p class="minha_classe">Testando a classe minha_classe</p>
<h1 class="meuEstilo">Testando CSS EXTERNO</h1>


